* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #cdf2f2;
	color: white;
}

.all {
	width: 100%;
}

.header {
	width: 100%;
	height: 100px;
	text-align: center;
	background-color: #226666;
	display: flex;
	align-items: center;
	justify-content: center
}

.navi {
	background-color: #589696;
	width: 70%;
	text-align: center;
	margin: 0 auto;
	padding: 5px 0;
	color: white;
	border-left: 1px solid #226666;
	border-right: 1px solid #226666;
}

.navi a:link, .navi a:visited {
	color: white;
	text-decoration: none;
}

.navi a:hover, .navi a:active {
	text-decoration:underline;
}

.body {
	width: 70%;
	margin: 0 auto;
	border: 1px solid #226666;
	background-color: white;
}

.body2 {
	padding: 10px;
	color: black;
}

.body2 a:link, .body2 a:visited {
	color:#226666;
	text-decoration:none;
}

.body2 a:hover, .body2 a:active {
	text-decoration:underline;
}

.footer {
	width: 70%;
	padding: 5px 0;
	margin: 0 auto;
	text-align: center;
	background-color: #226666;
	border: 1px solid #226666;
	border-radius: 0 0 10px 10px;
	color: white;
}
li{
	margin: 20px;
	
}

#margin {
	padding-left: 20px;
}

/* Dropdown Button */
.dropbtn {
	background-color: #226666;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
	margin-left: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #589696;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #589696;
}

#loginFailed {
	padding: 0.5rem;
	width: 18rem;
	margin: auto;
	margin-top: 1rem;
	background: #fafafa;
	border: 1px solid #ccc;
	color: #ba3939;
	background: #ffe0e0;
	border: 1px solid #a33a3a;
}

label {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0.5rem;
}

form {
	margin-top: 1.5rem;
}

input {
	margin-bottom: 1.5rem !important;
	width: 40%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.input {
	margin-bottom: 1.5rem !important;
	width: 40%;
	padding: 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid black;
	box-sizing: border-box;
	border-radius: 5px;
}
.button{
	background-color: white;
	color: black;
	border: 2px solid #589696;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}
.button:hover{
	background-color: #589696;
    color: white;
}
button {
	background-color: white;
	color: black;
	border: 2px solid #589696;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

button:hover {
  background-color: #589696;
  color: white;
}
#removeButton{
 background-color: white !important; 
  color: black !important; 
  border: 2px solid #589696;
  color: black;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 2rem;
  margin-top: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: Arial, sans-serif, Helvetica;
	background-color: #589696;
	color: white;
}

#removeButton:hover {
	background-color: #589696 !important;
	color: white !important;
}

.btn {
	background-color : white;
	color: black;
	border: 2px solid #589696;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.btn:hover {
	background-color: #589696;
	color: white;
}